.OutsideFooter{
    background:black;
    margin:60px 16%;
    height: 120px;
    padding:30px;
}

.Logo {
    width: 120px;
}

.Links {
    float: left;
    margin-top:15px;
}

.Links a {
    margin: 0 20px;
    color: white;
    font-family: 'Alata', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

.About {
    margin-left:0 !important;
}

.Links a:hover{
    text-decoration: none;
    color: white;
}

/* Links :Hover with ::After, Try using Div's next time */
.Links a:hover::after {
    content:" ";
    width: 30px;
    border-bottom: 1px solid white;
    position: absolute;
    top:70px;
}

.About:hover::after {
    margin-left:-37px !important;
}

.Careers:hover::after {
    margin-left:-43px !important;
}

.Events:hover::after {
    margin-left:-40px !important;
}

.Products:hover::after {
    margin-left:-47px !important;
}

.Support:hover::after {
    margin-left:-43px !important;
}

/* SOCIAL MEDIA LINKS SECTION */

.SocialMediaLinks {
    float:right;
}

.SocialMediaLinks a {
    margin:0 5px;
}

.SocialMediaLinks img {
    width:20px;
}

.SocialMediaLinks a:hover::after {
    content:" ";
    width: 20px;
    border-bottom: 1px solid white;
    position: absolute;
    top:30px;
    margin-left:-20px;
}

.Instagram {
    margin-right:0px !important;
}

.OuterSocialMediaLinks {
    padding-left:260px;
}

.Copyright {
    float: right;
    margin-top:15px;
}