.BottomBodyContainer {
    margin-top: 100px;
}

.SeeAllButton button{
    margin-top: 14px;
    float: right;
    background:black;
    color:white;
    padding: 3px 27px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
}

.OurCreationTitle h1 {
    font-weight:100;
}

.OurCreationTitle {
    margin-bottom: 60px;
}

.ImageList {
    display: flex;
    list-style: none;
    padding: inherit;
}

.ImageList a {
    color:white;
}


.ImageList li {
    padding-right: 29px;
}

.ImageList h2 {
    font-weight: 100;
    font-size: 30px;
}

.DivForList {
    width: 256px;
    height: 450px;
}

.ImageList img {
    position: absolute;
}

/* To change the text color while hovering the image, changed the color of the link to white instead of h2 itself. */

.ImageList h2 {
    position: relative;
    font-size:30px;
}

.ListText {
    padding-left:34px;
    padding-right:87px;
    padding-top:360px;
}


/* Hover area */
.ImageList a:hover {
    text-decoration: none;
    /* Figure out what type of color to add when hovering later */
    color:white;

}

.DivForList:hover {
    opacity: 0.5;
}



/* MEDIA QUERIES SECTION */

@media (max-width: 1600px) {
    .OurCreationTitle h1 {
        text-align:center;
        font-size: 4rem;
    }
}

@media (max-width: 1200px) {
    .BottomBodyContainer {
        margin-top: 100px;
        margin-left: -100px
    }
    
    .DivForList {
        width: 227px;
    }

    .ListText {
        padding-top: 371px;
    }

    .ImageList h2 {
        font-size: 23px;
    }

    .ImageList li {
        padding-right: 25px;
    }

    .ImageList img {
        width: 252px;
    }

    .OurCreationTitle h1 {
        font-size: 45px;
    }
}

